.fa-star {
	color: $red;
}

.owner-info {
	width: 60%;
	p {
		font-weight: 700;
		font-size: 30px;

		top: 5px;
	}
}

.reservations {
	box-shadow: 2px 2px 3px rgb(206, 206, 206);
	border-radius: 15px;
	width: 350px;
	position: fixed;
	top: 580px;
	right: 15px;
	h5 {
		text-align: center;
	}
}
