<%# ponerlo en un parcial  %>

<div class="d-flex justify-content-center ">
  <div class="col6">


  <% if !current_user.owner? %>
    <% @reservations_as_customer.each do |reservation| %>

      <%# link hacia la reservacion  %>
      <%# inicio del card %>
      <%= render 'shared/ship_card', reservation: reservation %>
      <%# fin del card %>


    <% end %>

  <% else %>
    <% @reservations_as_owner.each do |reservation| %>

      <%= reservation.invoice %>
      <%# link hacia la reservacion  %>
      <%# inicio del card %>
      <%= render 'shared/ship_card', reservation: reservation %>
      <%# fin del card %>


    <% end %>
  <% end %>
  </div>
</div>
