



<div class="container">

<%@ships.each do |ship|  %>

  <div class="ship-card mt-3">
    <img src="https://source.unsplash.com/featured/?yacht" />
    <div class="card-ship-info">
      <h2 class><%= ship.name %></h2>
      <hr>
      <p><strong>Price per day</strong>  $<%= ship.price %> </p>
      <p><strong>Max people</strong> <%= ship.max_people %></p>
      <p><strong>Type:</strong> <%= ship.ship_type %></p>
    </div>
  </div>

<% end %>

</div>
