.ship-card {
	overflow: hidden;
	height: 230px;
	background: white;
	box-shadow: 2px 2px 3px rgb(206, 206, 206);
	display: flex;
	align-items: center;
  width: 700px;
  border-radius: 8px;


  a {
    text-decoration: none;
    color: black;
  }

	img {
		height: 100%;
		width: 220px;
		size: cover;
    margin-left: 10px;
    border-radius: 8px;
	}

	h2 {
		font-weight: 400;
		margin: 0;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: inherit;

	}


	p {
		font-size: 14px;
		line-height: 1.4;
		opacity: 0.7;
		margin-bottom: 0;
		margin-top: 8px;

	}

	.card-ship-info {
    padding-left: 20px;
    margin-left: 10px;
    width: 100%;
	}
}
 .ship-card:hover {
    box-shadow:  2px 2px 3px rgb(145, 145, 145);
  }
.heart-icon {
    position: relative;
    top: -111px;
    right: -406px;
  }

  .price {
    position:relative;
    right: -386px;
    top: -20px;
  }

.ship-card-invoice {
  overflow: hidden;
	height: 480px;
	background: white;
	box-shadow: 2px 2px 3px rgb(206, 206, 206);
	align-items: center;
  width: 700px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 20px;
  }
}
.tu-reservacion {
  margin-top: 30px;
}

.details-card-reservation {
    position: relative;
    top: -209px;
    left: 44px;
    font-weight: lighter;
    h4 {
      margin-top: 5px;
      padding: 10px;
      font-size: 20px;
    }
}
